
{% extends 'base.html.twig' %}

{% block content %}
    <section>
        <article class="carte">
            <div class="imgArticle">
                <img src="https://cdn.shopify.com/s/files/1/0049/2293/3366/products/Site-Front_0dd604c2-62ca-4305-85bb-58573be32e43_grande.png?v=1562489356"
                     alt="Maillot" class="resp">
            </div>

            <a href="{{ path ('article/vetement') }}"><p>Article 1</p></a>
        </article>


        <article class="carte">
            <div class="imgArticle">
                <img src="https://oddslifenetstorage.blob.core.windows.net/esportsinsider/2019/11/Team-Vitality-adidas-VIT.01.jpg"
                     alt="" class="resp">
            </div>
            <p>Article 2</p>
        </article>


        <article class="carte">
            <div class="imgArticle">
                <img
                        src="https://cdn.shopify.com/s/files/1/0049/2293/3366/products/2019-casquette-04_600x800.jpg?v=1561468594"
                        alt="" class="resp">
            </div>
            <p>Article 3</p>
        </article>

        <article class="carte">
            <div class="imgArticle">
                <img src="https://cdn.shopify.com/s/files/1/0049/2293/3366/products/VITALITY_GOURDE_03_c772ada7-bddb-4168-904a-5c19ab5cea8b_600x800.jpg?v=1570212023"
                     alt="" class="resp">
            </div>
            <p>Article 4</p>
        </article>


        <article class="carte">
            <div class="imgArticle">
                <img
                        src="https://cdn.shopify.com/s/files/1/0049/2293/3366/products/v-backpack-front_600x800.jpg?v=1570203375"
                        alt="" class="resp">
            </div>
            <p>Article 5</p>

        </article>


        <article class="carte">
            <div class="imgArticle">
                <img
                        src="http://www.davidcoachsportif.fr/wp-content/uploads/2019/02/71b5cQMtq6L._SL1500_.jpg" alt=""
                        class="resp">
            </div>
            <p>Article 6</p>
        </article>
    </section>
</header>
{% endblock %}


