{% extends 'basesocial.html.twig' %}

{% block content %}

    <div class="contact">
        <aside>
            <p>Aside</p>
        </aside>
        <div class="text"><h1> {{  title }}</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum exercitationem libero saepe totam! Laboriosam odit perferendis ullam. At dignissimos dolorum iusto magnam odio officiis omnis quis, quisquam ullam voluptate voluptatem?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci alias aperiam consequuntur delectus dignissimos, exercitationem explicabo fugiat nobis officiis, possimus repellat sapiente sequi totam, voluptatum. Doloremque officiis quam sequi.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, ad amet consequatur dolor, dolorem facere facilis hic in molestias nihil perferendis quasi qui rerum saepe sint sit unde voluptate! Distinctio!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad cum expedita fugiat nam neque nobis placeat possimus sequi? A commodi cum est eveniet inventore maiores nihil non, odio quis voluptatum.
            </p>
            <a href="{{ path ('contact') }}"><p>Retour contact</p></a>
        </div>
    </div>

{% endblock %}